# 开发文件，下载 ZIP 时排除
*.ts export-ignore
esbuild.config.mjs export-ignore
package.json export-ignore
package-lock.json export-ignore
tsconfig.json export-ignore
.gitignore export-ignore
.gitattributes export-ignore
